@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

}

#main {
  width: 100%;
  height: 100%;
}

#menu {
  display: flex;
  flex-direction: column;
}

#menu > div {
  padding: 0.5em;
  height: 5em;
  border: 1px black solid;
  border-bottom: 0;
}

#menu > div:last-of-type {
  border-bottom: 1px black solid;
}
img {
  max-width: 100%;
}
.nl-header {
  font-weight: bold;
}
.nl-header > * {
  pointer-events: none;
}

.headerTop  {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 1em;
}

.newsletterName {
  text-transform: uppercase;
}

.editionName {
  font-size: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.5em;
}

#menu {
  display: flex;
}

#reader {
  display:none;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#backblock {
  position: static;
  top: 0;
  background-color: white;
  height: 1em;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3em;
}

#backblock > span {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#rbody {
  margin-top: 3em;
  overflow-y: scroll;

}
@media only screen and (min-width: 600px) {
  #main {
    width: 600px;
    
  }
}